body {
  padding: 30px 15px;
}

section {
  margin-bottom: 30px;
}

.galeria-de-fotos{
  white-space: nowrap;
  overflow-x: scroll;
}

.imagens {
  width: 250px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgb(189, 189, 189);
  display: inline-block;
  margin: 15px;
  border-radius: 3px;
}

img {
  width: 100%;
}
.bubble {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.fundo-azul {
  background-color: rgb(83, 132, 189);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fundo-verde {
  background-color: rgb(83, 189, 124);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  padding-top: 25px;
}

.fundo-vermelho {
  background-color: rgb(189, 83, 88);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -100px;
  top: 60px;
}

.bubble-2{
  width: 600px;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fundo-roxo{
  width: 75%;
  height: 200px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fundo-amarelo{
  width: 50%;
  height: 150px;
  background-color: yellow;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lugar-para-colocar-input{
  box-shadow: 2px 2px 5px rgb(189, 189, 189);
  border-radius: 5px;
  width: 80vw;
  min-height: 30px;
  position: relative;
  padding: 40px 10px 10px 10px;
}

.lugar-para-colocar-input ion-icon{
  font-size: 40px;
  position: absolute;
  right: 1%;
  top: 10%;
}

.lugar-para-colocar-input input{
  width: 90%;
  border-radius: 2px;
  border: 1px solid rgb(199, 199, 199);
  margin-top: 10px;
  height: 30px;
}